# ##############################################################################

# Nandland Go PCF

# Family & Device:    iCE40HX1K

# Package:            VQ100

# ##############################################################################

### Main FPGA Clock
set_io clk 15

## Push-Button Switches
set_io rst 53

set_io led 56
